<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.unity.channel.sdk.editor.xiaomi"
    android:versionCode="18"
    android:versionName="v1.1" >

    <uses-sdk android:minSdkVersion="15" />

    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.xiaomi.sdk.permission.PAYMENT" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.xiaomi.permission.AUTH_SERVICE" />

    <application>

        <!-- Xiaomi SDK Need -->
        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.MiActivity"
            android:configChanges="orientation|screenSize"
            android:screenOrientation="behind"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>
        <activity
            android:name="com.xiaomi.gamecenter.sdk.ui.PayListActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.xiaomi.gamecenter.alipay.HyAlipayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.xiaomi.account.openauth.AuthorizeActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.xiaomi.gamecenter.wxwap.HyWxWappayActivity"
            android:configChanges="orientation|screenSize"
            android:exported="true"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name="com.alipay.sdk.app.H5PayActivity"
            android:configChanges="orientation|keyboardHidden|navigation|screenSize"
            android:exported="false"
            android:screenOrientation="behind"
            android:windowSoftInputMode="adjustResize|stateHidden" />
        <!-- Xiaomi SDK Need End -->
    </application>

</manifest>